
#sobre {
    clear:both;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    
}

#sobre iframe {
    margin-bottom:30px;
}

#sobre h2::after {
    margin-bottom:30px;
}


#sobre img {
    width:300px;
    
}

.para {
    width:80%;
    margin-bottom:30px;
    margin-right: auto;
    margin-left:auto;
}

.para p {
    text-align: center;
}


/* missão, visão e valores */

#m-v-v {
    padding-top:30px;
    padding-bottom:30px;
    text-align:center;
    width:80%;
    height:auto;
    margin-right: auto;
    margin-left:auto;
}


.missao {
    width:48%;
    float:left;
    margin-right:2%;
    margin-bottom:30px;
}

.visao {
    width:48%;
    margin-left:2%;
    float:left;
    margin-bottom:30px;
}

.valores {
    width:100%;
    clear:both;
    background-color: #ffe0cc;
    padding:20px;  
}

.valores p {
    width:70%;
    text-align:center;
    margin:0 auto;
}

footer {
    clear:both;
}