#sucesso {
    margin-top:30px;
    margin-bottom:30px;
    
}

#sucesso h2, #sucesso p {
    text-align:center;
}

#sucesso h2::after {
    margin-right:auto;
    margin-left:auto;
}

#btn-sucesso {
    margin-top:30px;
}
